*{
    margin: 0;
    padding: 0;
}



.App{
    

}

.searchbar{
    height: 100%;
}

.stays{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    margin: auto;
    &__header{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin: 0 20px 40px 20px;
    }
    &__title, &__number{
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    &__number{
        position: relative;
        top: 15px;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.no-results{
    h2{
        margin: 40px 20px 80px 20px;
    }
    p{
        margin: 40px;
    }
}